@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <hr />
    <p>
        Bu proje .NET 8 ve MVC kullanılarak oluşturduğum basit bir web uygulaması.
        Amacım GitHub Actions kullanarak CI/CD sürecini kurmak ve bu projeyi kendi kurduğum Windows Server’a otomatik olarak yayınlamak.
        Yani kodu GitHub'a gönderdiğimde, sunucuda otomatik olarak build edilip yayına alınacak.   --test
    </p>

</div>
